<!doctype html>
<html>
<head>
  <title>CMS</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <% if session[:message] %>
    <p class="message"><%= session.delete(:message) %></p>
  <% end %>
  <%= yield %>
</body>
</html>
