<form action="/create" method="post">
  <label for='new_file'>Add a new document:</label>
  <br>
  <input type="text" name="new_file" value="<%= params[:new_file] %>">
  <input type="submit" value="Create">
</form>
